body{
    background-color: black;
}
#lampada{
    position: absolute;
    left: 50%;
    transform: translate(-50%,-40%);
}

#lampada img{
    width: 300px;
}
#inte img{
    width: 300px;
}